* {
    margin: 0;
    box-sizing: border-box; 
 }

 body {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    text-align: center;
 }

a {
   text-decoration: none;
   color: #ABBCCC;
}

a:hover {
   color: #8C93A3;
   transition-duration: 2s;
}

#really {
   color: #ABBCCC;
   animation: fadeIn 3s;
   -webkit-animation: fadeIn 3s;
   -moz-animation: fadeIn 3s;
   -o-animation: fadeIn 3s;
   -ms-animation: fadeIn 3s;

   transition-duration: 3s;
}

#centered {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1}
}
