ooo yeyaaaa
* {
   margin: 0;
   box-sizing: border-box; 
   background-color: #F2F2F2;
}

body {
    color: #262322;
}


.wait {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
    color: #BF808C;
}

#Tomorrow {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

.up {
    transform: translate();
    color: #91B7D9;
}

#todays {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

code pin for help w hover fade in animation
.today1 {
    /*transition: opacity 2s ease-in none;*/
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.day1 {
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;

}

a {
    text-decoration: none;
    color: #8C515C; 
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}




