ooo yeyaaaa
* {
   margin: 0;
   box-sizing: border-box; 
}

p {
    top: 30%;
    text-align: left;
    position: absolute;
    transition-duration: 5s;
    cursor:crosshair;
}

p:hover {
    transform: rotate(1000deg);
}