* {
    text-align: center;
}
body {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal; 
}

#todays {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

#centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

code pin for help w hover fade in animation
.today1 {
    /*transition: opacity 2s ease-in none;*/
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

/*.today1:hover {
    animation: fadeIn 9s;
    -webkit-animation: fadeIn 9s;
    -moz-animation: fadeIn 9s;
    -o-animation: fadeIn 9s;
    -ms-animation: fadeIn 9s;  
} */

.day1 {
   animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;

}

.today2 {
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}

.day2 {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
}

.today3{
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

.day3{
    animation: fadeIn 11s;
    -webkit-animation: fadeIn 11s;
    -moz-animation: fadeIn 11s;
    -o-animation: fadeIn 11s;
    -ms-animation: fadeIn 11s;
}

.today4{
    animation: fadeIn 13s;
    -webkit-animation: fadeIn 13s;
    -moz-animation: fadeIn 13s;
    -o-animation: fadeIn 13s;
    -ms-animation: fadeIn 13s;
}

/*.day4{
    animation: fadeIn 21s;
    -webkit-animation: fadeIn 21s;
    -moz-animation: fadeIn 21s;
    -o-animation: fadeIn 21s;
    -ms-animation: fadeIn 21s;
}*/

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

a {
    text-decoration: none;
    color: #8C515C; 
}

a:hover{
    color:#D99CA7;
}