* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-align: center;
}

#centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.wait {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
    color: #BF808C;

    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-align: center;
}

.up {
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-align: center;

    transform: translateX(1000px) scale(1.5) 5s; 
    -webkit-transform: translate(50px, 200px) scale(1.5);
    -moz-transform: translate(50px, 200px) scale(1.5);
    -o-transform: translate(50px, 200px) scale(1.5);
    -ms-transform: translate(50px, 200px) scale(1.5); */
    
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

a {
    text-decoration: none;
    color: #8C515C; 
}

.up:hover {
    
}
